.ts-table-with-thin-border {
    border-style: solid;
    border-width: 1px;
}

.ts-title {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-weight:bold;
    color: #000066;
    font-size:50px;
    margin: 50px;
    margin-top: 100px;
}

.ts-title-contact {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-weight:bold;
    color: #000066;
    font-size:25px;
    margin: 50px;
}

.ts-indented {
    padding-left: 30px;
    margin-bottom: 10px;
}

.ts-table-header-center-justified {
    background-color: #99CCFF; 
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: small;
    font-weight:bold;
    border:solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    

}
.ts-table-header-left-justified {
    background-color: #99CCFF; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: small;
    font-weight:bold;
    border:solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;  
    padding: 5px;
}
.ts-table-cell-left-justified {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: small;
    border:solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    padding: 5px;
}

.ts-table-cell-center-justified {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: small;
    border:solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
}

h2.ts-sans-serif-blue {
    font-family: Arial, Helvetica, sans-serif;
    color: #000066;
    font-size:20px;
    margin-bottom: 10px;
}

h3.ts-sans-serif-blue {
    font-family: Arial, Helvetica, sans-serif;
    color: #000066;
    font-size:16px;
    margin-bottom: 10px;
    margin-top; 10px;
}

h4.ts-sans-serif-blue {
    font-family: Arial, Helvetica, sans-serif;
    color: #000066;
    font-size:14px;
    margin-bottom: 10px;
    margin-top; 10px;
}

.tsinfolink {
    position:absolute;
    right:0px;
    width:5%;
}

.page ul {
    padding-left: 40px;
    padding-top: 10px;
}

.page ul li {
    list-style: disc;
    list-style-position: outside;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}